@tailwind components;
@tailwind utilities;

@font-face {
    font-family: Barlow;
    font-style: normal;
    font-weight: 400;
    src: url('assets/barlow-semibold.ttf');
}

@font-face {
    font-family: Overpass;
    font-style: normal;
    font-weight: 800;
    src: url('assets/overpass-bold.ttf')
}

@font-face {
    font-family: Overpass Mono;
    font-style: normal;
    font-weight: 800;
    src: url('assets/overpassmono-bold.ttf')
}

:root {
    --np-active-menu-height: 100%;
}

.no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.no-scrollbar::-webkit-scrollbar {
    display: none;
}
