node_modules
dist

auth.json
origins.json
origins.ts

glib

.env

# gcloud
app.yaml
app.beta.yaml
app.dev.yaml
.gcloudignore

# firebase
.firebase
.firebaserc
firebase.json
firestore.indexes.json
*.rules
*.log